<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav"  mode="side" opened fixedInViewport="true" [fixedTopGap]="64"> <!--Faz com que a nav apareça na página e não fique por cima do header-->
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/"> <!--router-link é igual ao href para ir para as rotas defiinidas -->
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/products">
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav> 
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>  <!-- Aqui o Angular renderiza o componente correspondente à rota atual -->
    </mat-sidenav-content>  
</mat-sidenav-container>
